.body{
    display: grid;
    grid-template-areas:
    "header header header header"
    "nav    main   main   sidebar"
    "nav    main   main   advertising"
    "footer footer footer footer"
    ;
}

.header, .nav, .main, .sidebar, .advertising, .footer{
    background-color: beige;
    border: 2px solid orange;
    padding: 15px;
    
    border-radius: 5px;
}

.header{
    grid-area: header;
}

.nav{
    grid-area: nav;
}

.main{
    grid-area: main;
}

.sidebar{
    grid-area: sidebar;
}

.advertising{
    grid-area: advertising;
}

.footer{
    grid-area: footer;
}

@media screen and (max-width: 576px) {
    .body{
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "sidebar"
        "advertising"
        "footer"
        ;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .body{
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main sidebar"
        "footer footer advertising"
        
        ;
    }
}