nav > ul{
    display: flex;
    
    
}

.dropdown{
    display: none;
    position: absolute;
    background-color: brown;
    padding: 0;
}

.dropdown li{
    margin: 0;

}

nav > ul > li:hover > ul{
    display: block;
}

nav li{
    list-style-type: none;
    margin-right: 15px;
    padding: 5px;
}

nav li:hover{
    background-color: aquamarine;
}

nav a{
    text-decoration: none;
    color: black;
}